body{
    background-color: #ca541d65
}
fieldset{
    width: 320px;
    background-color: #f7ecde;
}
legend{
    background-color: #e61c1c;
    height: 30px;    
}
input{
    width: 300px;
    margin: 0px 0px 10px 0px;
}
label{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10;
    font-weight: 600px;
    color: #2f0a5f;
}

/* Usar a hashtag serve para achar o ID do objeto */
#bt_enviar, #bt_reset{ 
    width: 60px;
    height: 30px;
    cursor: pointer; /* Transfora o mouse numa mãozinha quando encosta no objeto */
    margin-left: 60px;
}
#cor{
    cursor: pointer;
    width: 30px;
}
li{
    color: #ad962e;
}